{% extends 'pages/base.html' %} {% load static %}

<body>
  <div class="content">
    {% block content2%}

    <div class="transactions">
      <div class="title">
        <h2>Transactions</h2>
        <div class="filter">
          <div class="box" onclick="filtermodal();">
            <i class="fa fa-filter" aria-hidden="true"></i>
            <h3>Filter</h3>
          </div>
          <div
            class="box"
            id="createtransaction"
            onclick="createtransactions()"
          >
            <i class="fa fa-plus" aria-hidden="true"></i>
            <h3>Create Transaction</h3>
          </div>
        </div>
      </div>
      <div class="hr"></div>
      <div class="sitetoggle">
        {% for workplace in workplace %}
        <div id="sitenames" class="sitenames"><h3>{{workplace.name}}</h3></div>
        {% endfor %}
      </div>
      <div class="table">
        <table style="width: 100%">
          <tr>
            <th>ID</th>
            <th>AMOUNT</th>
            <th>STATUS</th>
            <th>TRANS TYPE</th>
            <!-- <th>SUBMITTED BY</th> -->
            <!-- <th>CONSTRUCTION SITE</th> -->
            <th>DATE</th>
            <th>COMMENTS</th>
            <th>CREDENTIALS</th>
          </tr>
          {% for trans_data in trans_datas %}
          <tr>
            <td>{{trans_data.id}}</td>
            <td>{{trans_data.amount}}</td>
            <td>
              {%if trans_data.status == "Confirmed"%}

              <i class="fa fa-check" aria-hidden="true"></i>&nbsp;
              {{trans_data.status}} {%else%}

              <i class="fa fa-times" aria-hidden="true"></i>&nbsp;
              {{trans_data.status}} {%endif%}
            </td>
            <td>{{trans_data.trans_type}}</td>
            <!-- <td>{{trans_data.trans_user}}</td> -->
            <!-- <td>{{trans_data.trans_site.name}}</td> -->
            <td>{{trans_data.trans_date}}</td>
            <td>{{trans_data.comments}}</td>
            <td>
              {% if trans_data.image %}
              <a target="_blank" href="{{ trans_data.image.url }}"
                ><i class="fa fa-paperclip"></i>
              </a>
              {% else %}
              <a href="#"><i class="fa fa-paperclip"></i> </a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    {% endblock %}
  </div>
  {% block content3 %}
  <div id="filtermodal" class="filtermodal">
    <div class="modal">
      <h1>
        <i class="fa fa-filter" aria-hidden="true"></i>&nbsp;Filter Ledger
      </h1>
      <div class="close" onclick="closefiltermodal();">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
      <h2>Filter by:</h2>
      <div class="form">
        <form method="get">
          <div class="hr"></div>
          <!-- <div class="input_field">
            <h3>Submited by</h3>
            {{myFilter.form.trans_user}}
          </div> -->
          <!-- <div class="hr"></div> -->
          <div class="input_field">
            <h3>Since</h3>
            {{myFilter.form.start_date}}
          </div>
          <div class="hr"></div>
          <!-- <div class="input_field">
            <h3>Construction Site</h3>
            {{myFilter.form.trans_site}}
          </div> -->
          <div class="hr"></div>
          <div class="input_field">
            <h3>Status</h3>
            {{myFilter.form.confirmation_status}}
          </div>
          <div class="hr"></div>
          <div class="submit_field">
            <input type="submit" value="Filter" />
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="createtransactionmodal" class="createtransactionmodal">
    <div class="modal">
      <h1>
        <i class="fa fa-thumb-tack" aria-hidden="true"></i>
        &nbsp;Create Transaction
      </h1>
      <div class="close" onclick="closecreatetransactions();">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
      <div class="form">
        <form
          action="/transaction_home/"
          method="POST"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="hr"></div>
          <div class="input_field">
            <h3>Construction Site</h3>
            {{form.trans_site}}
          </div>
          <div class="hr"></div>
          <div class="input_field">
            <h3>Amount</h3>
            {{form.amount}}
          </div>
          <div class="hr"></div>
          <div class="input_field">
            <h3>Transaction Method</h3>
            {{form.trans_method}}
          </div>
          <div class="hr"></div>
          <div class="input_field">
            <h3>Comments</h3>
            {{form.comments}}
          </div>
          <div class="hr"></div>
          <div class="input_field">
            <h3>Receipt</h3>
            {{form.image}}
          </div>
          <div class="hr"></div>
          <div class="submit_field_transaction">
            <input
              type="button"
              onclick="closecreatetransactions();"
              value="Cancel"
            /><input type="submit" value="Create" />
          </div>
        </form>

        <img src="{% static 'images/flower.png' %}" />
      </div>
    </div>
  </div>
  <div id="xls_modal" class="download_xls">
    <div class="xls_modal">
      <a href="{% url 'xls_download' %}" style="text-decoration: none">
        <h1 onclick="close_xls_modal();">
          <i class="fa fa-thumb-tack" aria-hidden="true"></i>
          &nbsp;&nbsp;Download XLS
        </h1></a
      >
      <div class="close" onclick="close_xls_modal();">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  {% endblock %}
</body>
